/*
	@name skills_tree
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1920px; width: 1920px; height: 1080px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__skills_tree {
	opacity:0.9;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	background:rgba(22,182,218,1);
}


#cloud {
	top: 733px;
	left: -129px;
	width: 675px;
	height: 408px;
}


#cloud_ek1 {
	top: 132px;
	left: 1394px;
	width: 675px;
	height: 408px;
}


#cloud_ek2 {
	top: 194px;
	left: 403px;
	width: 675px;
	height: 408px;
}


#cloud_ek3 {
	top: 647px;
	left: 1288px;
	width: 675px;
	height: 408px;
}


#rectangle_15 {
	opacity:0.75;
	top: 75px;
	left: 51px;
	width: 1787px;
	height: 953px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	-ms-box-shadow:20px 20px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:20px 20px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:20px 20px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:20px 20px 4px 1px rgba(0,0,0,0.25);
	box-shadow:20px 20px 4px 1px rgba(0,0,0,0.25);
	background:rgba(213,246,251,0.75);
}


#_2_skill_point {
	top: 440px;
	left: 129px;
	width: 270px;
	height: 76px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	font-weight: bold;
	text-align: left;
	color:#A6A6A6;
}


#_3_skill_point {
	top: 654px;
	left: 129px;
	width: 271px;
	height: 76px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	font-weight: bold;
	text-align: left;
	color:#A6A6A6;
}


#_4_skill_point {
	top: 887px;
	left: 129px;
	width: 272px;
	height: 76px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	font-weight: bold;
	text-align: left;
	color:#A6A6A6;
}


#rectangle_30 {
	top: 75px;
	left: 51px;
	width: 1787px;
	height: 104px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background:rgba(109,65,40,1);
}


#rectangle_24 {
	top: 868px;
	left: 982px;
	width: 116px;
	height: 115px;
	background:rgba(109,65,40,1);
}


#rectangle_22 {
	top: 643.5px;
	left: 666px;
	width: 116px;
	height: 115px;
}


#rectangle_18 {
	top: 425px;
	left: 982px;
	width: 116px;
	height: 115px;
	background:rgba(109,65,40,1);
}


#rectangle_25 {
	top: 420px;
	left: 1324px;
	width: 116px;
	height: 115px;
	background:rgba(109,65,40,1);
}


#arrow_2 {
	top: 365px;
	left: 1319px;
	width: 121.1px;
	height: 0px;
}


#rectangle_19 {
	top: 644px;
	left: 982px;
	width: 116px;
	height: 115px;
	background:rgba(109,65,40,1);
}


#rectangle_23 {
	top: 644px;
	left: 666px;
	width: 116px;
	height: 115px;
	background:rgba(109,65,40,1);
}


#arrow_1 {
	top: 359px;
	left: 980px;
	width: 121.02px;
	height: 0px;
}


#arrow_3 {
	top: 478px;
	left: 1098px;
	width: 223px;
	height: 0px;
}


#arrow_4 {
	top: 470px;
	left: 555px;
	width: 332.05px;
	height: 0px;
}


#arrow_5 {
	top: 699px;
	left: 793px;
	width: 180.07px;
	height: 0px;
}


#arrow_6 {
	top: 592px;
	left: 985px;
	width: 104.12px;
	height: 0px;
}


#arrow_7 {
	top: 811px;
	left: 981px;
	width: 113.11px;
	height: 0px;
}


#rectangle_20 {
	top: 222px;
	left: 1321px;
	width: 116px;
	height: 115px;
	background:rgba(109,65,40,1);
}


#rectangle_21 {
	top: 222px;
	left: 982px;
	width: 116px;
	height: 115px;
	background:rgba(109,65,40,1);
}


#rectangle_17 {
	top: 222px;
	left: 660px;
	width: 116px;
	height: 115px;
}


#rectangle_28 {
	top: 92px;
	left: 1725px;
	width: 70px;
	height: 67px;
	background:rgba(255,255,255,0);
}


#_rectangle_29 {
	top: 859px;
	left: 1460px;
	width: 288px;
	height: 124px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background:rgba(109,65,40,1);
}


#back {
	top: 888px;
	left: 1544px;
	width: 176px;
	height: 96px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#skill_tree {
	top: 86px;
	left: 102px;
	width: 457px;
	height: 123px;
	overflow: hidden;
	font-family: Inter;
	font-size: 60px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#_1_skill_point {
	top: 241px;
	left: 129px;
	width: 264px;
	height: 76px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	font-weight: bold;
	text-align: left;
	color:#A6A6A6;
}



/* Add your custom CSS here */
