/*
	@name inital_game_options_screen
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

body {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    user-select: none; /* Standard syntax */
}
/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1920px; width: 1920px; height: 1080px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__inital_game_options_screen {
	opacity:0.9;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	background:rgba(22,182,218,1);
}


#cloud {
	top: 204px;
	left: -115px;
	width: 442px;
	height: 281px;
}


#cloud_ek1 {
	top: 567px;
	left: 1566px;
	width: 442px;
	height: 281px;
}


#cloud_ek2 {
	top: 902px;
	left: 220px;
	width: 553px;
	height: 353px;
}


#cloud_ek3 {
	top: 4px;
	left: 1592px;
	width: 328px;
	height: 200px;
}


#menu_options {
	opacity:0.75;
	top: 51px;
	left: 106px;
	width: 1701px;
	height: 964px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	-ms-box-shadow:20px 20px 4px 1px rgba(0,0,0,0.25);
	-o-box-shadow:20px 20px 4px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:20px 20px 4px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:20px 20px 4px 1px rgba(0,0,0,0.25);
	box-shadow:20px 20px 4px 1px rgba(0,0,0,0.25);
	background:rgba(213,246,251,0.75);
}



#mapselect {
	top: 76px;
	left: 153px;
	width: 1600px;
	height: 600px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background:rgba(157.25,122.15,102.21,1);
}


#mapselect_ek1 {
	top: 76px;
	left: 153px;
	width: 1600px;
	height: 68px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background:rgba(109,65,40,1);
}


#rectangle_49 {
	top: 440px;
	left: 1012px;
	width: 300px;
	height: 200px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background:rgba(217,217,217,1);
}


#rectangle_50 {
	top: 440px;
	left: 1411px;
	width: 300px;
	height: 200px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background:rgba(217,217,217,1);
}


#rectangle_48 {
	top: 161px;
	left: 1411px;
	width: 300px;
	height: 200px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background:rgba(217,217,217,1);
}


#rectangle_47 {
	top: 161px;
	left: 1012px;
	width: 300px;
	height: 200px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background:rgba(217,217,217,1);
}


#rectangle_44 {
	top: 440px;
	left: 204px;
	width: 300px;
	height: 200px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background:rgba(217,217,217,1);
}


#difficulty_ {
	display: inline;
	top: 719px;
	left: 149px;
	width: 370px;
	height: 120px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color:#A6A6A6;
}
#difficulty_select{
	display: inline;
	top: 719px;
	left: 149px;
	width: 370px;
	height: 80px;
	margin-left: 1vw;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background:rgba(109,65,40,1);
	text-align: center;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}
#difficulty_dropdown {
	display: inline;
	margin-right: 10px;
	top: 708px;
	left: 149px;
	width: 780px;
	height: 120px;
	align-content: center;
}

#mode_dropdown {
	display: inline;
	margin-right: 10px;
	top: 848px;
	left: 215px;
	width: 780px;
	height: 120px;
	align-content: center;
	text-align: left;
}

#mode_ {
	display: inline;
	top: 859px;
	left: 149px;
	width: 370px;
	height: 120px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color:#A6A6A6;
	margin-left: 1vw;
}
#mode_select{
	display: inline;
	margin-right: 10px;
	top: 719px;
	left: 419px;
	width: 370px;
	height: 80px;
	margin-left: 1vw;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background:rgba(109,65,40,1);
	text-align: center;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#_rectangle_42 {

	top: 837px;
	left: 1325px;
	width: 440px;
	height: 130px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background:rgba(109,65,40,1);
}

.map-image {
    width: 100%; /* Adjust to the desired width */
    height: 100%; /* Adjust to the desired height */
    object-fit: fill;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

#rectangle_43 {
	top: 161px;
	left: 204px;
	width: 300px;
	height: 200px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background:rgba(217,217,217,1);
}


#rectangle_45 {
	top: 161px;
	left: 607px;
	width: 300px;
	height: 200px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background:rgba(217,217,217,1);
}


#rectangle_46 {
	top: 440px;
	left: 607px;
	width: 300px;
	height: 200px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background:rgba(217,217,217,1);
}


#maps {
	top: 79px;
	left: 280px;
	width: 162px;
	height: 96px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	text-align: center;
	color:#FFFFFF;
}


#map_4 {
	top: 237px;
	left: 1475px;
	width: 195px;
	height: 83px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#start_ {
	top: 859px;
	left: 1367px;
	width: 370px;
	height: 120px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
	transition: transform 0.5s;
}
#start_:hover {
	transform: scale(0.9);
}


#_rectangle_51 {
	top: 697px;
	left: 1325px;
	width: 440px;
	height: 130px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background:rgba(109,65,40,1);
}


#back {
	top: 719px;
	left: 1367px;
	width: 370px;
	height: 120px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
	transition: transform 0.5s;
}
#back:hover {
	transform: scale(0.9);
}

#map_5 {
	top: 516px;
	left: 247px;
	width: 195px;
	height: 83px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}

#map_1 {
	top: 231px;
	left: 263px;
	width: 195px;
	height: 83px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#map_2 {
	top: 237px;
	left: 677px;
	width: 195px;
	height: 83px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#map_3 {
	top: 237px;
	left: 1083px;
	width: 195px;
	height: 83px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}

#single_player {
	top: 19px;
	left: 28px;
	width: 364px;
	height: 104px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#normal {
	top: 19px;
	left: 28px;
	width: 364px;
	height: 104px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}



/* Add your custom CSS here */
