body {
    margin: 0px;
    padding: 0px;
    font-family: "Arial";
    overflow-x: hidden;
}
img {
    position: absolute;
    display: block;
    margin: 0px;
    border: none;
    padding: 0px;
}
div {
    position: absolute;
}
h1 {
    color: white;
   text-align: center;
}
#login-menu {
    left: 650px;
    top: 300px;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    background-color: rgba(109, 65, 40, 1);
    border-radius: 20px;
}
#signup-form {
    display: none;
}
#login-item {
    position: relative;
    margin-bottom: 60px;
}
.parent-btn {
    left: 180px;
    bottom: 90px;
}
#login-btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    width: 150px;
    background-color: white;
    color: rgba(109, 65, 40, 1);
    font-weight: bold;
    border-radius: 4px;
    padding: 8px 20px;
    border: none;
}
label {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-left: 50px;
}
#name {
    padding-right: 62px;
}
#password {
    padding-right: 24px;
}
#input-user {
    color: rgba(109, 65, 40, 1);
    height: 30px;
    width: 200px;
    font-size: 20px;
}
#input-password {
    color: rgba(109, 65, 40, 1);
    height: 30px;
    width: 200px;
    font-size: 20px;
}
#signup-link {
    bottom: 40px;
    left: 150px;
    color: white;
}
#signup-link a {
    color: rgba(22, 182, 218, 1);
}
#_bg__starting_page {
    opacity: 0.9;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    background: rgba(22, 182, 218, 1);
}
#cloud {
    top: 80px;
    left: 820px;
    width: 712px;
    height: 434px;
}


#cloud_ek1 {
    top: 109px;
    left: 220px;
    width: 261px;
    height: 163px;
}


#cloud_ek2 {
    top: 244px;
    left: 1231px;
    width: 507px;
    height: 328px;
}


#cloud_ek3 {
    top: 572px;
    left: 410px;
    width: 261px;
    height: 163px;
}


#cloud_ek4 {
    top: 816px;
    left: 76px;
    width: 261px;
    height: 163px;
}
#cloud_ek5 {
    top: 666px;
    left: 1573px;
    width: 261px;
    height: 163px;
}